.squareBtn{
    width: 200px;
    height: 100px;
    background: rgba(9, 170, 116, 0);
    font-size: xx-large;   
    border: 2px;
    border-style: groove;
    border-color: rgba(68, 255, 218, 0.7);
   
}
.buttonAnimate{
      -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: headerEnter 1.5s; /* Chrome, Safari, Opera */
    animation: headerEnter 1.5s;

}
.squareBtn:hover{
    background: rgba(25, 243, 170, 0.86)!important;
   // height: 300px;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: navButtonHover 0.6s; /* Chrome, Safari, Opera */
    animation: navButtonHover 0.6s;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes navButtonHover {
    from { 
        background: rgba(9, 170, 116, 0);
    }
    to  {
        background: rgba(25, 243, 170, 0.86);
    }
}

/* Standard syntax */
@keyframes navButtonHover {
   from { 
        background: rgba(9, 170, 116, 0);
    }
    to  {
        background: rgba(25, 243, 170, 0.86);
    }
}

#go-top-btn{
    position: fixed;
    bottom: 20px;
    right: 85px;
    visibility: hidden;
    background: rgba(95, 158, 160, 0.14);
}
#fingericon {
 position: absolute;
    top: 92px;
    left: 20px;
    width: 40px;
    opacity :0;
}
#about-me-btn:hover > #fingericon {   
    opacity:1;
    left: 46px;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: fingerMove 0.6s; /* Chrome, Safari, Opera */
    animation: fingerMove 0.6s;
}

#headicon{    
 //   position: absolute;
  //  top: 88px;
    font-size: -webkit-xxx-large;
   // left: 76px;
}
#toolicon{
   position: absolute;
    top: 97px;
    font-size: xx-large;
    left: 86px;
    color: #fff;
}
#javaText{
    position: absolute;
    opacity: 0;
    left: 21px;
    top: 47px;
    font-size: 20px;
}
#cssText{
     position: absolute;
    opacity: 0;
   left: -38px;
top: 237px;   
 font-size: 15px;

}
#cplusText{
     position: absolute;
    opacity: 0;
    left: -39px;
top: 88px;
font-size: 27px;

}
#javascriptText{
 position: absolute;
    opacity: 0;
    left: 5px;
    top: 194px;
    font-size: 22px;
}
#sqlText{
 position: absolute;
    opacity: 0;
    left: 56px;
    top: 21px;
    font-size: 19px;

}
#skills-btn:hover > #javaText {
    opacity:1;
    font-size:20px;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 6s; /* Chrome, Safari, Opera */
    animation: fadeIn 6s;

}
#skills-btn:hover > #cssText {
    opacity:1;
    font-size:20px;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 3.4s; /* Chrome, Safari, Opera */
    animation: fadeIn 3.4s;

}

#skills-btn:hover > #cplusText {
    opacity:1;
    font-size:20px;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 5s; /* Chrome, Safari, Opera */
    animation: fadeIn 5s;
}

#skills-btn:hover > #javascriptText {
    opacity:1;
    font-size:20px;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 4s; /* Chrome, Safari, Opera */
    animation: fadeIn 4s;

}
#skills-btn:hover > #sqlText {
    opacity:1;
    font-size:20px;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 3s; /* Chrome, Safari, Opera */
    animation: fadeIn 3s;

}
#cog1icon{
position: absolute;
font-size: larger;
top: 99px;
left: 74px;
}
#cog2icon{
position: absolute;
font-size: xx-large;
top: 84px;
left: 103px;
}
#projects-btn:hover > #cog1icon {
     -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: cogOneMove 3s; /* Chrome, Safari, Opera */
    animation: cogOneMove 3s;

}
#projects-btn:hover > #cog2icon {
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: cogTwoMove 3s; /* Chrome, Safari, Opera */
    animation: cogTwoMove 3s;

}
@-webkit-keyframes cogOneMove{
    from{transform:rotate(0deg);
    -webkit-transform: rotate(0deg);}
    to{transform:rotate(720deg);
    -webkit-transform: rotate(720deg);}
}
@keyframes cogOneMove{
 from{transform:rotate(0deg);
 -webkit-transform: rotate(0deg);}
    to{transform:rotate(720deg);
    -webkit-transform: rotate(720deg);}

}
@-webkit-keyframes cogTwoMove{
    from{transform:rotate(0deg);
    -webkit-transform: rotate(0deg);}
    to{transform:rotate(-900deg);
    -webkit-transform: rotate(-900deg);}

}
@keyframes cogTwoMove{
   from{-webkit-transform: rotate(0deg);
       transform:rotate(0deg);}
    to{transform:rotate(-900deg);
       -webkit-transform: rotate(-900deg);}

}

#brieficon{
position: absolute;
top: 100px;
left: 83px;

}

#exp-btn:hover > #brieficon {
    transform: scale(1.2,1.2);
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: briefSize 0.6s; /* Chrome, Safari, Opera */
    animation: briefSize 0.6s;
}
@-webkit-keyframes briefSize {
    from { transform: scale(1,1);
    -webkit-transform: scale(1,1); }    
    to {transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2); }
}

@keyframes briefSize {
    from {-webkit-transform: scale(1,1); 
        transform: scale(1,1);}    
    to {transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2); }
}

#levelupText{
    position: absolute;
    font-size: large;
    left: -10px;
    top: 97px;
    opacity:0;
}
#exp-btn:hover > #levelupText {
    transform: scale(1.2,1.2);
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: levelUpFade 1.6s; /* Chrome, Safari, Opera */
    animation: levelUpFade 1.6s;
}

@keyframes levelUpFade{
0% {opacity:0;
    top:97px;}
75% {opacity:1;}
90% {top: 50px;}
100% {opacity:0;}
}
@-webkit-keyframes levelUpFade{
0% {opacity:0;
    top:97px;}
75% {opacity:1;}
90% {top: 50px;}
100% {opacity:0;}
}

@-webkit-keyframes fingerMove {
    from { opacity: 0;
            left: 20px;}
    to {opacity:1;
        left: 46px;}
}
@keyframes fingerMove {
    from { opacity: 0;
            left:20px;}
    to {opacity:1;
        left:50px;}
}

@-webkit-keyframes fadeIn{
    from { opacity: 0;
    }
    to {opacity:1;
    }
}
@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity:1}
}


.round-button {
    display:inline;
    width:150px;
    height:150px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    background: rgba(70, 70, 16, 0);
    box-shadow: 0 0 3px gray;
    font-size:20px;
}
.round-button-in{
   display: inline;
    width: 151px;
    height: 151px;
    line-height: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: rgba(70, 70, 70, 0);
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: -8px;
    top: -4px;
}
.round-button:hover {
    background: rgba(25, 243, 170, 0.86);
    //transform: rotateY(180deg);
     -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: navButtonHover 0.3s; /* Chrome, Safari, Opera */
    animation: navButtonHover 0.3s;
     
}

@-webkit-keyframes coinFlip{
    0% { 
        transform: rotateY(0deg);
        background:rgba(24, 235, 142, 0);         
    }
    50% {    
         transform: rotateY(90deg);
         background:rgba(24, 235, 142, 0);         
    }
    100%{
        transform: rotateY(180deg);
        background:rgba(24, 235, 142, 0.66);
    }
}
@keyframes coinFlip {
    0% { 
         transform: rotateY(0deg);
        background:rgba(24, 235, 142, 0);
    }
    50% {    
         transform: rotateY(90deg);
        background:rgba(24, 235, 142, 0); 
    }
    100%{
         transform: rotateY(180deg);
         background:rgba(24, 235, 142, 0.66);
    }
}    

