#bodyStyle{
  //background-color : rgb(68, 110, 146);
}
.container {
width: 100%;
}


h1{
    font-size:54px;
    
}
h2{
    font-size:100px;
    text-align: center;
    color: rgb(78, 173, 177);
}  
#headerName{
    text-align: center;
    position: relative;
    top: 180px;
     -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: headerEnter 1.5s; /* Chrome, Safari, Opera */
    animation: headerEnter 1.5s;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes headerEnter {
    from { 
        opacity:0;
        top:200px;
    }
    to  {
        opacity:1;
        top:180px;
    }
}

/* Standard syntax */
@keyframes headerEnter {
    from { 
        opacity:0;
        top:200px;
    }
    to  {
        opacity:1;
        top:180px;
    }
}
#nav-buttons{

}
#nav{
    padding-bottom: 79px;
    padding-top: 310px;    
    display: block;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 1.5s; /* Chrome, Safari, Opera */
    animation: fadeIn 1.5s;

}
#navSection{
}
#navBackground{
    background: url('back5.jpg') no-repeat center;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100%;
    border-width: 0px;
    background-size: 100% auto;
    
}
#aboutMe-section, #skills-section, #proj-section,#exp-section{
    margin-bottom: 6em;
}

#textBody{
    background: #fff;
    height: 100%;

}
.descSection{
     background-color: #fff;
       padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
#aboutMe-section{
   // position: relative;
   // top:105px;

}
.descTitle{
    font-size: 100px;
    color: rgb(68, 110, 146);
}
#aboutMe-parag{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

#skills-section{
   // position: relative;
   // top:250px;

}
#skills-parag{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

#proj-section{
   // position: relative;
   // top:400px;

}
#proj-parag{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

#exp-section{
  //  position: relative;
  //  top:550px;

}
#exp-parag{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
}



h3,#exp-section  h4,h5,#exp-section  p{
 text-align: center;
}


hr {
    margin-top:50px;
    margin-bottom:50px;
    width:40%;
}
#exp-Title{
    padding-bottom:40px;
}
p {
    margin: 0 0 10px;
margin-left: 10%;
margin-right: 10%;
text-align: center;
}

